/nbproject
/node_modules
/packages
/public/hot
/public/storage
/storage
/storage/*.key
/storage/supervisor
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
.env.testing
.phpunit.result.cache

# Complied/transpiled code files/resources
/public/dist
/public/fonts
/public/images
mix-manifest.json
