/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 9:32:28 PM
    Author     : anthonyb
*/
@font-face {

    font-family: montserrat;

    src: local(montserrat), url('fonts/Montserrat-Light.otf') format('opentype');

}
@font-face {

    font-family: perpetua;

    src: local(perpetua), url('fonts/perpetua.ttf') format('opentype');

}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "perpetua";
}
body {
  font-size: 18px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'perpetua';
    background: buttonshadow none repeat scroll 0 0;
}

.container {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: left;
    display: inline-block;
}
.footer {
    text-align: center;
    background-color: #e7e7e7;
}

.title {
    font-size: 96px;
}
td {
    align: left;
}

.logo {
    padding: 10px;
}

.jumbotron {
    //background-color: transparent;
    line-height: 1.5;
}

.navbar-default {
    //background-color: transparent;
}

.navbar {
    //border: 0px solid transparent;
}

a {
    color: mediumblue;
}

.create {
    text-align: right;
}
