.navbar-brand .logo {
  height: 2rem;
}

.container {
  padding-top: 2rem;
}

.filters a {
  text-decoration: none;
}

.bg-cover {
  background-color: #e9ecef;
  padding: 2rem;
  border-radius: 10px;
}
