<?php

@section('content')
<table>
<th>Retreatant Information for Retreat# 0516 </th>
<hr/>
    Please review the information below for accuracy and make changes as appropriate.
        
Name and Address
        
Contact Information
        Phone
        Email
        
        Spouse name:
    Emergency Contact Phone Number`
        